body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    height: 80px;
    background-color: transparent;
    color: black;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin-right: 15px;
}

.home {
    width: 20px;
    height: 20px;
    object-fit: cover;
    display: inline-flex; 
    align-items: center; 
    flex-shrink: 0;
    margin-right: 15px;
}

.community {
    width: 20px;
    height: 20px;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin-right: 15px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-right: 124px; 
}
.info, .community {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    display: inline-flex; 
    align-items: center; 
    margin-right: 20px;
    white-space: nowrap;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.login {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap; 
    margin-left: auto; 
}
.popular {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #000000;
    margin-top: 84px; 
    margin-left: 50px;
    padding: 0 20px; 
}
.popular2 {
    margin-top: 5px;
    margin-left: 70px;
    color: #58B973
}

.popular3 {
    margin-top: 5px;
    margin-left: 70px;
    color: #58B973
}

.rectangle {
    width: 460px;
    height: 216px;
    background-color: #E5E5E5; 
    margin-top: 20px; 
    border-radius: 20px; 
    margin-left: 50px; 
    display: inline-block;
}
.rectangle-container {
    display: flex;
    margin-top: 84px;
    margin-left: 50px;
}
.popular-container {
    margin-top: 84px;
    margin-left: 50px;
}

.button {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

.button:hover {
    background-color: #494949;
}

.button img {
    width: 24px; 
    height: 24px; 
    align-items: center;
}

.split-container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center; 
    align-items: flex-start; 
}

.split-item {
    flex: 1;
    height: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.split-item h1, .split-item p {
    margin: 0;
    text-align: center; 
}